<section class="products" aria-labelledby="productsLabel">
  <div class="products__container container">
    <h2 id="productsLabel" class="products__title">You may also like</h2>
    <ul class="products__list" role="list">
      <li class="products__item">
        <article class="product-card">
          <a class="product-card__img-link" href="#">
            <picture>
              <source type="image/webp" srcset="https://zelcer.github.io/spurit-home-work/img/webp/pic1@1x.webp 1x, https://zelcer.github.io/spurit-home-work/img/webp/pic1@2x.webp 2x" />
              <img
                class="product-card__img"
                src="https://zelcer.github.io/spurit-home-work/img/jpg/pic1@1x.jpg"
                srcset="https://zelcer.github.io/spurit-home-work/img/jpg/pic1@2x.jpg 2x"
                alt="Girl in a violet hoodie with picture."
              />
            </picture>
          </a>
          <h3 id="productCard1Label" class="product-card__title">
            <a class="product-card__link" href="#">Product name</a>
          </h3>
          <ul class="product-card__colors color-options color-options--small" role="list">
            <li class="color-options__item">
              <input
                id="product1Color1"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product1"
                value="brown"
              />
              <label
                class="color-options__label color-options__label--brown"
                for="product1Color1"
                aria-labelledby="colorProduct1Brown productCard1Label"
              ></label>
              <span id="colorProduct1Brown" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Brown
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product1Color2"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product1"
                value="pale-orange"
              />
              <label
                class="color-options__label color-options__label--orange"
                for="product1Color2"
                aria-labelledby="colorProduct1Orange productCard1Label"
              ></label>
              <span id="colorProduct1Orange" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale orange
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product1Color3"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product1"
                value="pale-pink"
              />
              <label
                class="color-options__label color-options__label--pink"
                for="product1Color3"
                aria-labelledby="colorProduct1Pink productCard1Label"
              ></label>
              <span id="colorProduct1Pink" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale pink
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product1Color4"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product1"
                value="purple-latte"
              />
              <label
                class="color-options__label color-options__label--purple"
                for="product1Color4"
                aria-labelledby="colorProduct1Purple productCard1Label"
              ></label>
              <span id="colorProduct1Purple" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Purple latte
              </span>
            </li>
          </ul>
          <p class="product-card__price">CHF 40</p>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <a class="product-card__img-link" href="#">
            <picture>
              <source type="image/webp" srcset="https://zelcer.github.io/spurit-home-work/img/webp/pic2@1x.webp 1x, https://zelcer.github.io/spurit-home-work/img/webp/pic2@2x.webp 2x" />
              <img
                class="product-card__img"
                src="https://zelcer.github.io/spurit-home-work/img/jpg/pic2@1x.jpg"
                srcset="https://zelcer.github.io/spurit-home-work/img/jpg/pic2@2x.jpg 2x"
                alt="Guy in a blue t-shirt with picture."
              />
            </picture>
          </a>
          <h3 id="productCard2Label" class="product-card__title">
            <a class="product-card__link" href="#">Product name</a>
          </h3>
          <ul class="product-card__colors color-options color-options--small" role="list">
            <li class="color-options__item">
              <input
                id="product2Color1"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product2"
                value="brown"
              />
              <label
                class="color-options__label color-options__label--brown"
                for="product2Color1"
                aria-labelledby="colorProduct2Brown productCard2Label"
              ></label>
              <span id="colorProduct2Brown" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Brown
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product2Color2"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product2"
                value="pale-orange"
              />
              <label
                class="color-options__label color-options__label--orange"
                for="product2Color2"
                aria-labelledby="colorProduct2Orange productCard2Label"
              ></label>
              <span id="colorProduct2Orange" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale orange
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product2Color3"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product2"
                value="pale-pink"
              />
              <label
                class="color-options__label color-options__label--pink"
                for="product2Color3"
                aria-labelledby="colorProduct2Pink productCard2Label"
              ></label>
              <span id="colorProduct2Pink" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale pink
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product2Color4"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product2"
                value="purple-latte"
              />
              <label
                class="color-options__label color-options__label--purple"
                for="product2Color4"
                aria-labelledby="colorProduct2Purple productCard2Label"
              ></label>
              <span id="colorProduct2Purple" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Purple latte
              </span>
            </li>
          </ul>
          <p class="product-card__price">CHF 40</p>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <span class="product-card__flag">Sold out</span>
          <a class="product-card__img-link" href="#">
            <picture>
              <source type="image/webp" srcset="https://zelcer.github.io/spurit-home-work/img/webp/pic3@1x.webp 1x, https://zelcer.github.io/spurit-home-work/img/webp/pic3@2x.webp 2x" />
              <img
                class="product-card__img"
                src="https://zelcer.github.io/spurit-home-work/img/jpg/pic3@1x.jpg"
                srcset="https://zelcer.github.io/spurit-home-work/img/jpg/pic3@2x.jpg 2x"
                alt="Girl in a green t-shirt with picture."
              />
            </picture>
          </a>
          <h3 id="productCard3Label" class="product-card__title">
            <a class="product-card__link" href="#">Product name</a>
          </h3>
          <ul class="product-card__colors color-options color-options--small" role="list">
            <li class="color-options__item">
              <input
                id="product3Color1"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product3"
                value="brown"
              />
              <label
                class="color-options__label color-options__label--brown"
                for="product3Color1"
                aria-labelledby="colorProduct3Brown productCard3Label"
              ></label>
              <span id="colorProduct3Brown" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Brown
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product3Color2"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product3"
                value="pale-orange"
              />
              <label
                class="color-options__label color-options__label--orange"
                for="product3Color2"
                aria-labelledby="colorProduct3Orange productCard3Label"
              ></label>
              <span id="colorProduct3Orange" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale orange
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product3Color3"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product3"
                value="pale-pink"
              />
              <label
                class="color-options__label color-options__label--pink"
                for="product3Color3"
                aria-labelledby="colorProduct3Pink productCard3Label"
              ></label>
              <span id="colorProduct3Pink" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale pink
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product3Color4"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product3"
                value="purple-latte"
              />
              <label
                class="color-options__label color-options__label--purple"
                for="product3Color4"
                aria-labelledby="colorProduct3Purple productCard3Label"
              ></label>
              <span id="colorProduct3Purple" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Purple latte
              </span>
            </li>
          </ul>
          <p class="product-card__price">CHF 40</p>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card">
          <a class="product-card__img-link" href="#">
            <picture>
              <source type="image/webp" srcset="https://zelcer.github.io/spurit-home-work/img/webp/pic4@1x.webp 1x, https://zelcer.github.io/spurit-home-work/img/webp/pic4@2x.webp 2x" />
              <img
                class="product-card__img"
                src="https://zelcer.github.io/spurit-home-work/img/jpg/pic4@1x.jpg"
                srcset="https://zelcer.github.io/spurit-home-work/img/jpg/pic4@2x.jpg 2x"
                alt="Girl in a black hoodie."
              />
            </picture>
          </a>
          <h3 id="productCard4Label" class="product-card__title">
            <a class="product-card__link" href="#">Product name</a>
          </h3>
          <ul class="product-card__colors color-options color-options--small" role="list">
            <li class="color-options__item">
              <input
                id="product4Color1"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product4"
                value="brown"
              />
              <label
                class="color-options__label color-options__label--brown"
                for="product4Color1"
                aria-labelledby="colorProduct4Brown productCard4Label"
              ></label>
              <span id="colorProduct4Brown" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Brown
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product4Color2"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product4"
                value="pale-orange"
              />
              <label
                class="color-options__label color-options__label--orange"
                for="product4Color2"
                aria-labelledby="colorProduct4Orange productCard4Label"
              ></label>
              <span id="colorProduct4Orange" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale orange
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product4Color3"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product4"
                value="pale-pink"
              />
              <label
                class="color-options__label color-options__label--pink"
                for="product4Color3"
                aria-labelledby="colorProduct4Pink productCard4Label"
              ></label>
              <span id="colorProduct4Pink" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Pale pink
              </span>
            </li>
            <li class="color-options__item">
              <input
                id="product4Color4"
                class="v-h color-options__radio"
                type="radio"
                name="colors-product4"
                value="purple-latte"
              />
              <label
                class="color-options__label color-options__label--purple"
                for="product4Color4"
                aria-labelledby="colorProduct4Purple productCard4Label"
              ></label>
              <span id="colorProduct4Purple" class="color-options__tooltip" role="tooltip" aria-hidden="true">
                Purple latte
              </span>
            </li>
          </ul>
          <p class="product-card__price">CHF 40</p>
        </article>
      </li>
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "Product recomendations",
    "settings": [
	  {
        "type": "text",
  		"id": "product_recom_title",
  		"label": "Heading",
  		"default": "You may also like"

	  },
	  {
  		"type": "collection",
  		"id": "product_recom_collection",
  		"label": "Collection"
	  },
      {
  		"type": "range",
  		"id": "product_recom_qty",
  		"min": 3,
  		"max": 6,
  		"step": 1,
  		"unit": "qt",
  		"label": "Limit of products to display",
  		"default": 4
	  }
	],
	"presets": [
	  {
		"name": "Product recomendations"
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
